/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20 May 2020, 11:30:57 AM
    Author     : le-roy
*/

header, footer, nav, section, article, aside
{
    display: block;
}

*
{
    padding: 0;
    margin: 0;
}

body
{
    padding: 0;
    margin: 0;
    color: #99968d;
    background-color: #e3e2de;
}

#container
{
    border: 1px solid black;
    width: 100%;
}
/*HEADER SECTION---------------------------------------------------------------------------------------------------------------------*/
#content
{
    width: 100%;
    border: 1px solid orange;
    padding-top: 5px;
    padding-bottom: 5px;
}
#nav
{
    clear: both;
    position: fixed;
    width: 100%;
    background-color: white;
    padding: 10px 0px;
    font-size: 20px;
}

#nav_li li
{
    display: inline-block;
    list-style: none;  
    padding: 5px;
}

a{
    text-decoration: none;
    color: #262318;
}

a:hover
{
    color: #a36b27;
}

#h-rule
{
    margin: 20px 0px;
}
/*--------------------------------End Header Section---------------------------------------------------------------------------*/

/*--------------------------------Section css ---------------------------------------------------------------------------------*/
#section
{
    width: 70%;
    margin: 0px auto;
    background-color: white;
    margin-top: 12%;
}
#t_h
{
    font-size: 30px;
    padding: 10px 0px;
    width: 95%;
    text-align: center;
    margin-left: 10px;
    margin-top: 10px;
}
#team_a_div
{
    width: 95%;
    margin-left: 10px;
    margin-top: 10px;
}

#des_dev
{
    font-size: 20px;
    padding: 10px 0px;
    margin-bottom: 5px;
    line-height: 1.4em;
}

p
{
    padding-left: 10px;
}

#acc_dir
{
    font-size: 20px;
    padding: 10px 0px;
    margin-bottom: 5px;
    
}
img
{   width: 500px;
    height: 333px;
    display: block;
    margin-right: 10px;
    float: left;
}

#clrf
{
    clear: both;
}