/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20 May 2020, 11:30:57 AM
    Author     : le-roy
*/

header, footer, nav, section, article, aside
{
    display: block;
}

*
{
    padding: 0;
    margin: 0;
}

body
{
    padding: 0;
    margin: 0;
    color: #99968d;
    background-color: white;
}

#container
{
    
    width: 100%;
}


#h-rule
{
    margin: 20px 0px;
}

/*--------------------------------Section css ---------------------------------------------------------------------------------*/
#section
{
    width: 70%;
    margin: 0px auto;
    background-color: white;
    margin-top: 17%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#t_h
{
    font-size: 30px;
    padding: 10px 0px;
    width: 95%;
    text-align: center;
    margin-left: 10px;
    margin-top: 10px;
}
#team_a_div
{
    width: 95%;
    margin-left: 10px;
    margin-top: 10px;
}

#des_dev
{
    font-size: 20px;
    padding: 10px 0px;
    margin-bottom: 5px;
    line-height: 1.4em;
}

p
{
    padding-left: 10px;
}

#acc_dir
{
    font-size: 20px;
    padding: 10px 0px;
    margin-bottom: 5px;
    
}
#section img
{   width: 500px;
    height: 333px;
    display: block;
    margin-right: 10px;
    float: left;
}
.s_p_i
{
	width: 60%;
	display: inline-block;
	border: 1px solid black;
	float: left;
}
.s_p_image
{
	width: 400px;
}

#clrf
{
    clear: both;
}