#comment_msg_div
{
    margin-left: 2%;
    margin-bottom: 10%;
    font-size: 25px;
    color: grey;
}

.contact_form
{
    width: 48.5%;
    background-color: #c99e59;
    padding-top: 20px;
    display: inline-block;
}

#name_c_div
{
    width: 45%;
    display: inline-block;
    margin-left: 2%;
    margin-bottom: 3%;
}

#email_c_div
{
    width: 45%;
    display: inline-block;
    margin-left: 5%;
}

#address_c_div
{
    width: 95%;
    margin-left: 2%;
    margin-bottom: 3%;
}

#message_c_div
{
    width: 95%;
    margin-left: 2%;
    margin-bottom: 3%;
}

.contact_form input[type=text]
{
    width: 90%;
    padding: 10px;
    height: 20px;
}

.contact_form input[type=email]
{
    width: 90%;
    padding: 10px;
    height: 20px;
}

#address_c_field
{
    width: 95%;
    padding: 10px;
    height: 20px;
}

#button_c_div
{
    text-align: right;
    margin-right: 20px;
}

.contact_form input[type=button]
{
    padding: 10px;
    color: blue;
}