/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16 May 2020, 3:18:29 PM
    Author     : le-roy
*/

header, footer, nav, section, article, aside
{
    display: block;
}

*
{
    padding: 0;
    margin: 0;
    color: grey;
    font-family: 'Karla', sans-serif;
    scroll-behavior: smooth;
}

body
{
    padding: 0;
    margin: 0;
}
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
#container
{
    width: 100%;
}

/*----------------------------------HEADER SECTION-----------------------------------------------------------------------------*/
#t_s_h
{
	width: 100%;
    padding: 0px 0px;
    position: fixed;
    z-index: 2;
    background-color: white;
}

#w_h_t
{
	width: 35%;
	height: 120px;
	float: left;
	margin-left: 5px;
    line-height: 3em;
    z-index: 7;
    text-align: center;
    background-image: url(../img/hero.jpg);
}

#w_h_t p
{
	margin-top: 20px;
    font-size: 20px;
    color: darkorchid;
}

#t_c_header
{
	font-size: 25px;
}

#c_q{
	width: 30px;
	height: 30px;
	border-radius: 20px;
	background-color: orange;
	position: absolute;
	right: 0px;
	
	text-align: center;
}

#c_i_q
{
	margin-top: 5px;
	color: white;
}

#i_t_h
{
	display: inline-block;
	width: 100%;
	position: relative;
	padding: 0;
	margin: 0;
	text-align: right;
	padding: 5px 0px;
	height: 30px;
}

#cart_icon{
	width: 90px;
	height: 30px;
	position: absolute;
	padding: 0;
	right: 50px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}
#right-div
{
	display: inline-block;
	width: 50%;
	float: right;
	margin-right: 5px;
}
#login
{
	width: 100px;
	position: absolute;
	height: 30px;
	right: 150px;
	margin-right: 10px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
}

#account_det
{
	display: none;
	position: absolute;
	border: 1px solid ghostwhite;
	box-shadow: 1px 1px #d4d0cf;
	border-radius: 10px;
	width: 100px;
	right: 180px;
	top: 40px;
	background-color: white;
    height: 100px;
	z-index: 5;
}
#logout_btn
{
    width: 100%;
    padding: 10px 10px;
    background-color: orangered;
    border: white;
	margin-top: 2px;
    color: white;
	opacity: 0.6;
}

#logout_btn:hover
{
    width: 100%;
    padding: 10px 10px;
    border: 1px solid orange;
    cursor: pointer;
    color: white;
	opacity: 1;
}
#account_profile
{
	width: 30px;
	height: 30px;
}

#i_b_h
{
	display: inline-block;
	width: 100%;
	padding: 5px 0px;
	text-align: right;
	position: relative;
}

#clr-f{
	clear: both;
}

#select_t
{
	padding: 10px 10px;
}

#search_btn
{
	padding: 8px 8px;
	width: 60px;
}

#i_b_h input[type=text]
{
	padding: 10px 10px;
	width: 50%;
	margin-top: 3px;
}
			
#nav
{
	clear: both;
	width: 100%;
	margin-top: 0px;
	padding: 20px;
	text-align: right;
	background-color: #99968d;
}

#nav_li a{
	color: white;
	text-decoration: none;
}

#nav_li a:hover{
	color: white;
	font-weight: bold;
	color: #0a5df7;
	text-decoration: none;
}

#nav_li li
{
	display: inline-block;
	list-style: none;  
	padding: 5px;
	
}

/*--------------------------------Section Section------------------------------------------------------------------------------*/
#section
{
    width: 100%;
    margin: 0 auto;
    margin-top: 15%;
    float: right;
}
.products{
    width: 70%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
}
.product
{
    padding: 10px 10px;
}

.pr_mid_sec
{
    margin-top: 3%;
    height: 100px;
    overflow-y: auto;
}

.img-hover-zoom
{
    overflow: hidden;
    display: inline-block;
    height: 200px;
}

#registerBtn
{
    border: none;
    font-size: 20px;
    background-color: white;
    cursor: pointer;
   
}

#registerBtn:hover
{
    color: #02f52f;
    border-bottom-style: solid;
    border-bottom-color: grey;
    border-bottom-width: 0.5px;
}

/*view product button*/
#viewProduct_btn
{
    background-color: #fff;
    border-color: #1c8644;
    color: #1c8644;
    padding: 10px 10px;
    width: 100%; 
    
}

#viewProduct_btn:hover
{
    background: #1c8644;
    color: #fff;
    cursor: pointer;
}

.img-hover-zoom img
{
    transition: transform .5s ease;
}

.img-hover-zoom:hover img
{
    transform: scale(1.5);
}
/*-------------------------------------------------------------------------------------------------------------------------*/

/*------------------------------------------Starting the aside styling-----------------------------------------------------*/

        .aside{
            width: 28%;
            display: inline-block;
            margin-top: 15%;
        }
        
        .loginField
        {
            width: 90%;
            padding: 10px 10px;
            margin: 0px auto;
            margin-bottom: 5px;
            margin-top: 5px;
            
        }
        
        .loginField a
        {
            text-decoration: none;
        }
        
        #btn_l_field
        {
            width: 90%;
            padding: 10px 10px;
            margin: 0px auto;
            margin-bottom: 5px;
            margin-top: 5px;
        }
        
        .loginField input[type=text]
        {
            padding: 10px;
            width: 330px;
        }
        
        .loginField input[type=password]
        {
            padding: 10px;
            width: 330px; 
        }        

        input[type=submit]
        {
            padding: 5px;
            width: 100px;
        }
        
        #misc
        {
            width: 90%;
            margin: 0px auto;
            margin-top: 50px;
            line-height: 2.5em;
            padding-top: 5px;
            height: 100px;
        }
        #misc a
        {
            text-decoration: none;
            font-size: 1.5em;
        }
        
        #misc a:hover
        {
            text-decoration: none;
            color: #1c8644;
        }
        /*  Login Button Style*/
        #login_btn
        {
            width: 100%;
            padding: 10px 10px;
            background-color: orangered;
            border: white;
            color: white;
        }
        
        #login_btn:hover
        {
            width: 100%;
            padding: 10px 10px;
            background-color: #361004;
            border: 1px solid orange;
            cursor: pointer;
            color: white;
        }
/*product.js corresponding styles*/
.product_view_div
{
    padding: 10px 10px;
    width: 600px;
    margin-bottom: 30px;
    font-size: 18px;
}

.product_info_div
{
    display: inline-block;
    padding: 10px 10px;
    line-height: 3em;
    position: absolute;
    margin-left: 50px;
}

.product_mi_div
{
    padding: 5px 5px;
    margin: 30px 0px;
    line-height: 2em;
}

/*bottom_b_div this div is created in the products js file it contains the addToCart button*/
#bottom_b_div
{
    text-align: right;
}

#addCart
{
    padding: 5px 5px;
    width: 150px;
    background-color: #02f52f;
    color: white;
    border: none;
}

#addCart:hover
{
    color: #464a46;
    background-color: #dfe6e0;
    border: 1px solid #025c12;
}

.clrf
{
    clear: both;
}
/*********************************** Style section for footer*************************************/
footer
{
    background-color: #262625;
    width: 100%;
}

#f-b-div
{
    width: 97%;
    margin: 0 auto;
    padding: 5px 5px;
}
#r_c_div
{
    width: 48.5%;
    display: inline-block;
    float: left;
    
}

#r_c_div li
{
    list-style: none;
}

#r_c_div a
{
    text-decoration: none;
}

#r_c_div a:hover
{
    color: white;
}

/*Media query for mobile phone*/
@media screen and (max-width: 320px)
{
    #container
    {
        width: 100%;
        font-size: 16px;
    }
/*HEADER SECTION---------------------------------------------------------------------------------------------------------------------*/
#header
{
    width: 100%;
    height: 245px;
    position: fixed;
    background-color: white;
    z-index: 1;
}
#search_div
{
    width: 98%;
    position: relative;
    height: 160px;
    left: -60px;
}

#cart
{
    display: block;
    width: 100%;
    left: -20px;
    height: 50px;
    position: absolute;
}
#content
{
    width: 100%;
   
}
#cart_icon2
{
    display: inline-block;
    background-image: url("../img/cart_icon.jpg");
    width: 25px;
    height: 25px;
    float: left;
}            
#cart_quantity2
{
    display: inline-block;
    width: 20px;
    position: absolute;
    left: 25px;
    background-color: orange;
    color: white;
    border-radius: 1.5em;
    padding: 5px 10px;
    z-index: 3;
}
            
#cart_total2
{
    display: inline-block;
    float: right;
    margin-top: 2%;
    color: white;
}
#cart_icon
{
    display: inline-block;
    background-image: url("../img/cart_icon.jpg");
    width: 25px;
    height: 25px;
    float: left;
    cursor: pointer;
}            
#cart_quantity
{
    display: inline-block;
    width: 20px;
    background-color: orange;
    color: white;
    border-radius: 1.5em;
    padding: 5px 10px;
    margin-left: 10px;
}
            
#cart_total
{
    display: inline-block;
    float: right;
    margin-top: 2%;
    color: grey;
}
   /************************************************************************/ 
    #search_c_d
    {
        top: 60px;
        left: 0px;
        position: absolute;
        width: 100%;
        height: 90px;
    }
    
    #search_div input[type=text]
    {
        padding: 10px 10px;
        width: 50%;
        margin-left: -3px;
        margin-top: 3px;
    }
    
    #select
    {
        padding: 10px 10px;
        width: 100%;
        display: block;
    }
    /***********************************************************************/
    
    #nav
    {
        clear: both;
        width: 100%;
        margin-top: 5px;
        padding: 20px;
        text-align: right;
        background-color: #99968d;
    }

    #nav_li a{
        color: white;
        text-decoration: none;
    }

    #nav_li a:hover{
        color: white;
        font-weight: bold;
        color: #0a5df7;
        text-decoration: none;
    }

    #nav_li li
    {
        display: inline-block;
        list-style: none;  
        padding: 5px;

    }

    /*--------------------------------Section Section------------------------------------------------------------------------------*/
#section
{
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-top: 70%;
}
.products{
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
}
.product
{
    padding: 10px 10px;
}

.pr_mid_sec
{
    margin-top: 3%;
}

.img-hover-zoom
{
    overflow: hidden;
    display: inline-block;
}

#registerBtn
{
    border: none;
    font-size: 20px;
    background-color: white;
    cursor: pointer;
   
}

#registerBtn:hover
{
    color: #02f52f;
    border-bottom-style: solid;
    border-bottom-color: grey;
    border-bottom-width: 0.5px;
}

/*view product button*/
#viewProduct_btn
{
    background-color: #fff;
    border-color: #1c8644;
    color: #1c8644;
    padding: 10px 10px;
    width: 100%; 
    
}

#viewProduct_btn:hover
{
    background: #1c8644;
    color: #fff;
    cursor: pointer;
}

.img-hover-zoom img
{
    transition: transform .5s ease;
}

.img-hover-zoom:hover img
{
    transform: scale(1.5);
}
/*-------------------------------------------------------------------------------------------------------------------------*/
}
