/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16 May 2020, 3:18:29 PM
    Author     : le-roy
*/

header, footer, nav, section, article, aside
{
    display: block;
}

*
{
    padding: 0;
    margin: 0;
}

body
{
    padding: 0;
    margin: 0;
}

#container
{
    width: 100%;
}
/*HEADER SECTION---------------------------------------------------------------------------------------------------------------------*/
#header
{
    width: 100%;
    height: 150px;
    position: fixed;
    background-color: white;
    z-index: 1;
}

#search_div
{
    width: 50%;
    float: right;
    text-align: right;
}

#search_div input[type=text]
{
    padding: 10px 10px;
    width: 400px;
}
#select
{
    padding: 10px 10px;
}

#search_btn
{
    padding: 8px 8px;
    width: 100px;
}

#cart
{
    width: 18%;
    margin-left: 20px;
    margin-top: 5px;
}

#content
{
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}
#cart_icon2
{
   display: inline-block;
    background-image: url("../img/cart_icon.jpg");
    width: 25px;
    height: 25px;
    float: left;
    border: 1px solid blue;
}            
#cart_quantity2
{
    display: inline-block;
    width: 20px;
    border: 1px solid purple;
    background-color: orange;
    color: white;
    border-radius: 1.5em;
    padding: 5px 10px;
    margin-left: 10px;
}
            
#cart_total2
{
    display: inline-block;
    border: 1px solid red;
    float: right;
    margin-top: 2%;
    color: white;
}
#cart_icon
{
   display: inline-block;
    background-image: url("../img/cart_icon.jpg");
    width: 25px;
    height: 25px;
    float: left;
    cursor: pointer;
}            
#cart_quantity
{
    display: inline-block;
    width: 20px;
    border: 1px solid purple;
    background-color: orange;
    color: white;
    border-radius: 1.5em;
    padding: 5px 10px;
    margin-left: 10px;
}
            
#cart_total
{
    display: inline-block;
    border: 1px solid red;
    float: right;
    margin-top: 2%;
    color: white;
}
#nav
{
    clear: both;
    width: 100%;
    margin-top: 57px;
    padding: 20px;
    text-align: right;
    background-color: #99968d;
}

#nav_li a{
    color: white;
    text-decoration: none;
}

#nav_li a:hover{
    color: white;
    font-weight: bold;
    color: #0a5df7;
    text-decoration: none;
}

#nav_li li
{
    display: inline-block;
    list-style: none;  
    padding: 5px;
    
}

#profile_img
{
    border-radius: 50px;
    cursor: pointer;
}
#logout_btn
{
    font-weight: bold;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    color: #262323;
    background-color: white;
}

#logout_btn:hover
{
    margin-top: 20px;
    border: none;
    cursor: pointer;
    color: #f7f2f3;
    background-color: #660613;
}
/*--------------------------------End Header Section---------------------------------------------------------------------------*/

/*--------------------------------Section Section------------------------------------------------------------------------------*/
#section
{
    width: 70%;
    margin: 0 auto;
    margin-top: 15%;
    float: right;
}
.products{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
}
.product
{
    padding: 10px 10px;
}

.pr_mid_sec
{
    margin-top: 3%;
}

.img-hover-zoom
{
    overflow: hidden;
    display: inline-block;
    position: a
}

.img-hover-zoom img
{
    transition: transform .5s ease;
}

.img-hover-zoom:hover img
{
    transform: scale(1.5);
}
/*-------------------------------------------------------------------------------------------------------------------------*/

/*------------------------------------------Starting the aside styling-----------------------------------------------------*/

        .aside{
            width: 28%;
            display: inline-block;
            margin-top: 15%;
        }
        
        .loginField
        {
            width: 90%;
            padding: 10px 10px;
            margin: 0px auto;
            margin-bottom: 5px;
            margin-top: 5px;
            
        }
        
        #btn_l_field
        {
            width: 90%;
            padding: 10px 10px;
            margin: 0px auto;
            margin-bottom: 5px;
            margin-top: 5px;
        }
        
        .loginField input[type=text]
        {
            padding: 10px;
            width: 330px;
        }
        
        .loginField input[type=password]
        {
            padding: 10px;
            width: 330px; 
        }        

        input[type=submit]
        {
            padding: 5px;
            width: 100px;
        }
        
        #misc
        {
            width: 90%;
            margin: 0px auto;
            margin-top: 50px;
            border: 1px solid black;
            line-height: 2.5em;
            padding-top: 5px;
            height: 100px;
        }
/*product.js corresponding styles*/
.product_view_div
{
    padding: 10px 10px;
    width: 600px;
}

.product_info_div
{
    display: inline-block;
    padding: 10px 10px;
    line-height: 3em;
    position: absolute;
    margin-left: 50px;
}

.product_mi_div
{
    padding: 5px 5px;
}
.clrf
{
    clear: both;
}